page-login {
  
.button-row{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.header h5{
    color: whitesmoke;
   // background: linear-gradient(to right, #614385, #516395);
}
.account-form {
    flex: 1;
}

.continue-button {
    width: 100%;
    border-radius: 30px;
    margin-top: 30px;
    font-size: 0.9em;
    background-color:#154561 ;
    border: 1px solid #fff;
}
}
